* {
    margin: 0;
    padding: 0;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    background-color:  #f1f1f1;
    padding-left: 380px;
    position: fixed;
    
}
ul.menu li {
    float: left;
    display: block;
   font-size: 20px;
  
}
ul.menu li a {
    color: #333;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
}
ul.menu li a:hover {
    background-color: #ddd;
}

h1.titulo {
    background-color: black;
    color: white;
    padding-left: 38%;
    
}
