* {margin: 0;
    padding: 0;
}

.titulo {
    transition: all 1s ease-in-out;
}

.titulo:hover {
    background: red;
}

a:link {
    color: red;

}

a:visited {
    color: yellow;
}

a:active {
    background: darkorange;
}

div p:last-child {
    color: green;
}